
.br{
    background-image: url(https://octoclean.com/wp-content/uploads/2019/07/glass-office-door-cleaning.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.loginbr{
    background-image: url(https://wallpaperaccess.com/full/1691687.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.bg{
    background-image: url(https://octoclean.com/wp-content/uploads/2019/07/glass-office-door-cleaning.jpg);
    
}

.loginbar{
    border-radius: 20px;
    box-shadow:  0 20px 20px;
    padding-top: 80px;
}
.title{

    border-radius: 20px;
    padding-top: 200px;
    font-weight: bold;
    text-align: center;
    font-size: 100px;
    width: auto;
}

.obama{
    
    color: chocolate;
}




